.car-animation {
    width: 50px;
    height: 25px;
    position: relative;
    animation: carAnimation 5s linear infinite;
  }
  
  @keyframes carAnimation {
    0% {
      left: -50px;
    }
    100% {
      left: calc(100% + 50px); /* Assuming the car moves from left to right */
    }
  }
  
  .car-animation img {
    width: 100%;
  }